<p class="h4 mb-4">Chi tiết dịch vụ</p>
<div>


    <p>Tên dịch vụ : <p id="detial_name_service"></p></p>
    <p>Ảnh : <p id="detial_image_service"></p></p>
    <p>Giá : <p id="detial_price_service"></p></p>
    <p>Thời gian : <p id="detial_time_service"></p></p>
    <p>Mô tả : <p id="detial_des_service"></p></p>


</div>