<div>


    <p>Id Khách : <p id="detial_id_khach_oder"></p></p>
    <p>Id Service : <p id="detial_id_service_oder"></p></p>
    <p>Id Stylist : <p id="detial_id_stylist_oder"></p></p>
    <p>Status : <p id="detial_status_oder"></p></p>
    <p>Date Time : <p id="detial_time_oder"></p></p>
    <p>Note : <p id="detial_note_oder"></p></p>
    <p>Pay : <p id="detial_pay_oder"></p></p>
    <p>SumPrice : <p id="detial_sumprice_oder"></p></p>

</div>