<section class="vh-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" style="color: rgb(100, 8, 28);">EDIT ORDER</p>

                                <form>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form6Example3">Id Khách</label>
                                        <input type="text" id="add_id_khach_oder" name="add_id_oder" class="form-control" />
                                    </div>

                                    <!-- Text input -->
                                    <div class="dropdown form-outline mb-4">
                                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Services
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item">Action</a>
                                            <a class="dropdown-item">Another action</a>
                                            <a class="dropdown-item">Something else here</a>
                                        </div>
                                    </div>

                                    <!-- Email input -->
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form6Example5">Id Stylist</label>
                                        <input type="email" id="add_id_stylist_oder" name="add_id_stylist_oder" class="form-control" />
                                    </div>

                                    <!-- Number input -->
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form6Example6">Status</label>
                                        <input type="text" id="add_status_oder" name="add_status_oder" class="form-control" />

                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form6Example6">Date Time</label>
                                        <input type="datetime-local" id="add_time_oder" name="add_time_oder" class="form-control" />

                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form6Example6">Note</label>
                                        <input type="text" id="add_note_oder" name="add_note_oder" class="form-control" />

                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form6Example6">Pay</label>
                                        <input type="text" id="add_pay_oder" name="add_pay_oder" class="form-control" />

                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form6Example6">SumPrice</label>
                                        <input type="number" id="add_sumPrice_oder" name="add_sumPrice_oder" class="form-control" />

                                    </div>

                                    <button type="submit" class="btn btn-primary btn-block mb-4">EDIT ORDER</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>