<section class="vh-50 bg-image mt-3 mb-5">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3 mt-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-1">
                            <form method="post" enctype="multipart/form-data" class=" border border-light p-5"
                                  action="">
                                <p class="h4 mb-4 text-center">Bạn Xác Nhận Đã Hoàn Thành Dịch Vụ</p>
                                <!-- NameService -->

                                <div class="d-flex justify-content-center mt-3">
                                    <button type="submit" class="btn btn-warning"
                                            style="background-color: #F9E323;font-weight: bold">Xác Nhận
                                    </button>
                                </div>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
